.hotelImage {
    width:200px;
    height:200px;
}
.description {
    margin-left:20px;
}
.label {
    font-weight:bold;
}
.descItem {
    margin-top: 5px;
}


/* Drop down */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdownShow .dropdownContent {
    display: block;
  }

  .button{
    background-color: rgb(1, 149, 255);
    color:#f9f9f9;
    padding-left:5px;
    padding-right:5px;
    font-size:12px;
    margin-top:10px;
    border:1px solid #aaaaaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }