.hotelImage {
    width:200px;
    height:200px;
}
.description {
    margin-left:20px;
}
.label {
    font-weight:bold;
}
.descItem {
    margin-top: 5px;
}
.listItemImage {
    width:30px;
    height:30px;
}

.listItem {
    padding:5px;
    font-size:12px;
    cursor:pointer;
}
.listItem:hover {
    background-color:#dddddd;
}
